.canvas-contenedor{
    margin-top: 6rem;

    canvas{
        background: #fff;
        border-radius: 11px;
        display: block;
        margin: auto;
    }
    button{
        display: block;
        margin: auto;
        margin-top: 20px;

        padding: 5px 20px;
        border-radius: 6px;
        outline: none;
        border: none;
        background: #406fe8;
        color: #fff;
    }
}