.canvas{
    margin-top: 6rem;

    canvas{
        background: #fff;
        // background-image: url('../assets/TarjetaFrenteVacia.png');
        // background-size: cover;

        border-radius: 11px;
    }
}